.card{
    padding: 10px 30px;
    border: 1px solid #ccc;
}

.inputs{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moviebox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
h1{
    text-align: center;
}
.update{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    top: 0;
    z-index: 11;
    height: 100vh;
}
.update input {
    margin:  10px 0;
}